# Desigualdade no Brasil - Indicadores Educacionais

In [48]:
import pandas as pd

In [49]:
# https://basedosdados.org/dataset/br-inep-indicadores-educacionais
# https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/indicadores-educacionais/nivel-socioeconomico
df_escolas = pd.read_csv("INSE_2019_ESCOLAS.csv")

In [50]:
df_escolas.head()

,CO_ESCOLA,NOME_ESCOLA,CO_UF,NOME_UF,CO_MUNICIPIO,NOME_MUNICIPIO,ID_AREA,TP_DEPENDENCIA,TP_LOCALIZACAO,QTD_ALUNOS_INSE,INSE_VALOR_ABSOLUTO,INSE_CLASSIFICACAO,PC_NIVEL_1,PC_NIVEL_2,PC_NIVEL_3,PC_NIVEL_4,PC_NIVEL_5,PC_NIVEL_6,PC_NIVEL_7,PC_NIVEL_8
0,11024666,EMEIEF BOA ESPERANCA,11,Rondônia,1100015,Alta Floresta D'Oeste,2,3,2,30,"4,54000000",Nível IV,0,"16,67","33,33","33,33","13,61","3,06",0,0
1,11024682,EEEF EURIDICE LOPES PEDROSO,11,Rondônia,1100015,Alta Floresta D'Oeste,2,2,1,147,"4,96000000",Nível IV,0,"15,67","16,69","22,32","17,46","15,67","10,05","2,14"
2,11024828,EMEIEF IZIDORO STEDILE,11,Rondônia,1100015,Alta Floresta D'Oeste,2,3,1,30,"4,87000000",Nível IV,0,"3,39","26,48","33,37","23,34","10,04","3,39",0
3,11024968,EEEMTI JUSCELINO KUBITSCHEK DE OLIVEIRA,11,Rondônia,1100015,Alta Floresta D'Oeste,2,2,1,66,"4,78000000",Nível IV,0,"10,6","27,12","27,13","18,16","10,58","6,42",0
4,11025077,EMEIEF MARIA DE SOUZA PEGO,11,Rondônia,1100015,Alta Floresta D'Oeste,2,3,1,21,"4,60000000",Nível IV,0,"23,66","32,28","15,04","15,04","4,31","9,67",0

In [51]:
df_municipios = pd.read_csv("INSE_2019_MUNICIPIOS.csv")

In [52]:
df_municipios.head()

,CO_UF,NOME_UF,CO_MUNICIPIO*,NOME_MUNICIPIO,TP_TIPO_REDE,TP_LOCALIZACAO,QTD_ALUNOS_INSE,MEDIA_INSE**,PC_NIVEL_1,PC_NIVEL_2,PC_NIVEL_3,PC_NIVEL_4,PC_NIVEL_5,PC_NIVEL_6,PC_NIVEL_7,PC_NIVEL_8
0,11,Rondônia,1100015,Alta Floresta D'Oeste,0,0,833,"4,7512","0,13","15,55","25,97","23,22","19,81","9,07","5,76","0,49"
1,11,Rondônia,1100015,Alta Floresta D'Oeste,0,1,773,"4,7662","0,14","15,31","25,56","23,01","19,78","9,42","6,24","0,53"
2,11,Rondônia,1100015,Alta Floresta D'Oeste,0,2,60,"4,5703",0,"18,47","30,89","25,82","20,06","4,75",0,0
3,11,Rondônia,1100015,Alta Floresta D'Oeste,2,0,668,"4,7891",0,"14,97","24,72","23,25","19,89","9,92","6,62","0,62"
4,11,Rondônia,1100015,Alta Floresta D'Oeste,2,1,668,"4,7891",0,"14,97","24,72","23,25","19,89","9,92","6,62","0,62"

In [53]:
# https://data.worldbank.org/country/brazil?locale=pt
df_pib = pd.read_csv("API_BRA_DS2_pt_csv_v2_2466193.csv", sep=",")

In [54]:
df_pib.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Brasil,BRA,Exportações de alta tecnologia (% de exportaçõ...,TX.VAL.TECH.MF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.085057e+01,1.152696e+01,1.065066e+01,1.172003e+01,1.362443e+01,1.477305e+01,1.386146e+01,1.344506e+01,1.327630e+01,NaN
1,Brasil,BRA,Índice de termos de permuta líquida (2000 = 100),TT.PRI.MRCH.XD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.341793e+02,1.264019e+02,1.237746e+02,1.196087e+02,1.064143e+02,1.097186e+02,1.160580e+02,1.135803e+02,1.143602e+02,NaN
2,Brasil,BRA,Comércio de mercadorias (% do PIB),TG.VAL.TOTL.GD.ZS,1.800130e+01,1.878997e+01,1.349473e+01,1.256653e+01,1.269571e+01,1.235427e+01,...,1.884427e+01,1.930789e+01,1.992028e+01,1.890302e+01,2.054278e+01,1.830166e+01,1.819257e+01,2.269064e+01,2.227211e+01,NaN
3,Brasil,BRA,"População, total",SP.POP.TOTL,7.217923e+07,7.431134e+07,7.651433e+07,7.877266e+07,8.106457e+07,8.337353e+07,...,1.975145e+08,1.992873e+08,2.010359e+08,2.027637e+08,2.044718e+08,2.061631e+08,2.078338e+08,2.094693e+08,2.110495e+08,NaN
4,Brasil,BRA,Crescimento da população (anual %),SP.POP.GROW,NaN,2.911133e+00,2.921441e+00,2.908793e+00,2.868007e+00,2.808486e+00,...,9.159627e-01,8.935311e-01,8.736032e-01,8.557920e-01,8.388483e-01,8.237482e-01,8.071472e-01,7.838476e-01,7.515484e-01,NaN